{% extends '_base.html' %}

{% block main %}

    <h3>CrewAI Flow</h3>
    <div class="large"></div>

    <form method="POST">
        <div class="field border">
            <label>Parameter 1</label>
            <input type="text" name="input_param1" value="" 
            placeholder="Enter parameter 1"/>
        </div>
        <div class="space"></div>
        
        <div class="field border">
            <label>Parameter 2</label>
            <input type="text" name="input_param2" value="" 
            placeholder="Enter parameter 2"/>
        </div>
        <div class="space"></div>
        
        <button class="tertiary" type="submit">Submit</button>
    </form>
    
{% endblock %} 